/* @font-face {
  font-family: "Glacial Indifference";
  src: url(fonts/GlacialIndifference-Regular.otf);
  src: url(fonts/GlacialIndifference-Bold.otf);
}

@font-face {
  font-family: "Lemon Tuesday";
  src: url(fonts/Lemon\ Tuesday.otf);
} */

body {
  font-family: "Glacial Indifference", sans-serif;

  margin: 0;
  overflow-x: hidden;
  border-bottom: 87px solid white;
}

#socials {
  position: fixed;

  margin-left: 75px;
  margin-top: 44px;
  display: inline-block;

  z-index: 7;
}

#name-title {
  position: absolute;
  top: 60px;
  left: 50px;

  margin-left: 177px;
  padding-top: 177px;
}

#link-connect,
#port-cart {
  padding-bottom: 10px;
}

#codesandbox {
  margin-left: -10px;
  margin-bottom: -10px;
}

#link-connect,
#codesandbox {
  filter: brightness(0);
}

#firstFirstName {
  font-size: 744%;
  color: #545454;
  text-shadow: 1px 1px black;
}

.fancy-text {
  font-family: "Lemon Tuesday", "Fantasy" !important;
  color: #c8c4bd;
  text-shadow: 3px 4px black;
}

#fancy-more {
  font-size: 117px;
}

#fs-dev {
  font-size: 307%;
  color: black;
  margin-top: 13px;
  margin-bottom: 0%;
}

@media only screen and (max-width: 600px) {
  #fs-dev {
    margin-left: 0;
    font-size: 207%;
  }
}

.img-bkgrd {
  height: 100vh;
  width: 100vw;
  /* position: relative; */
  background-size: cover !important;
  background-position: 50% 50%;
  background-image: url("images/blue-bkgrd.jpg");
}

.overlay {
  opacity: 67%;
  height: 100%;
  width: 100%;
  /* top: 0;
  left: -50;
  position: absolute; */
  background: #5ce1e6;
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
}

#featureContainer {
  background-color: #360836;
  padding: 67px;
}

#featureRow {
  margin-left: 15%;
}

p#featureTitles,
p#featureTitles > a {
  color: #5ce1e6;
  text-decoration: none;
}

p#featureDescriptions {
  color: #fff;
  font-style: italic;
  margin-top: 25px;
}

p#featureTitles > a:hover {
  transform: scale(1.3px);
}

div#jessePhoto > img {
  width: 17%;
  border-radius: 50%;

  border: 7.5px solid #360836;
  background-color: #360836;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19),
    0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  margin-top: 44px;
  margin-bottom: 17px;
}

div > p.col-xs#jesseTestimonial {
  margin-left: 31%;
}

#jesseTestimonial {
  font-family: "Glacial Indifference";
  text-align: justify;
  line-height: 15px;

  max-width: 450px;
  margin-bottom: 47px;
}

/* 
h1 {
  font-size: small;
  text-align: center;
} */

.credits,
#credits {
  font-size: smaller;
  color: #5ce1e6;
  text-shadow: 1px 1px black;
  letter-spacing: 1.5px;

  margin-top: 17px;
  bottom: 20px;
  text-align: center;

  line-height: 0;
}

#trelloBoardScan {
  /* z-index: 9 !important; */
  color: #545454;
  margin-bottom: 25px;
}

#lmdev-logo {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 15px;

  border-top: 1px solid #5ce1e6;
  padding-top: 25px;
}

p {
  line-height: 0px;
  font-weight: bold;
}

h2 {
  font-size: small;
  text-align: center;
}

.center {
  text-align: center;
}

footer > #footer-details {
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

audio {
  filter: invert(100%);
  width: 200px;
  height: 47px;
}

#resumeBtn {
  width: 247px;
  padding: 9px;
  border-radius: 24px;
  border-color: #5ce1e6;
  background-color: lightcyan;
}

p#resume > button#resumeBtn > a {
  font-weight: 887px;
}

.notbold {
  font-weight: normal;
}

#firstNameInFooter {
  color: #5ce1e6;
  font-weight: bold;
  text-shadow: 1px 1px black;
}

#firstNameInFooter,
#str {
  margin: 10px;
}

.pronunciation {
  font-style: italic;
  font-size: small;
}

audio {
  width: 40%;
  margin-top: 24px;
}

a#resumeFile:hover {
  color: #5ce1e6 !important;
}

#resumeFile,
#audioFile {
  font-size: small;
  color: #545454 !important;
  text-decoration: none !important;
}

#bizEmail {
  color: black;
  text-decoration: none !important;
}

#bizEmail:hover {
  color: #5ce1e6;
  /* z-index: 9 !important; */
}
