body {
  margin: 0;
  font-family: "Glacial Indifference", sans-serif;
  overflow-x: hidden;
  border-bottom: 87px solid white;
}

#socials {
  position: fixed;

  /* filter: invert();*/
  margin-left: 75px;
  margin-top: 44px;
  display: inline-block;

  z-index: 1000;
}

#link-connect,
#port-cart {
  padding-bottom: 10px;
}

#link-connect {
  filter: brightness(0);
}

#name-title {
  margin-left: 44px;
  position: relative;

  z-index: 1003;
}

#firstFirstName {
  font-size: 744%;
  color: #545454;
}

.fancy-text {
  font-family: "Lemon Tuesday", sans-serif;
  color: #c8c4bd;
  text-shadow: 3px 4px black;
}

#fancy-more {
  font-size: 117px;
}

#fs-dev {
  font-size: 307%;
  color: black;
  margin-top: 13px;
  margin-bottom: 0%;
}

.img-bkgrd {
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: 50% 50%;
  background-image: url("images/blue-bkgrd.jpg");
}

.overlay {
  opacity: 67%;
  height: 100%;
  width: 100%;
  background: #5ce1e6;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.overlay h1 {
  font-size: 65px;
  margin: 0 0 5px;
  padding-left: 20px;
}

.overlay p {
  margin: 0;
  font-size: 28px;
  padding-top: 10px;
  padding-left: 20px;
}

h1 {
  font-size: small;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  #fs-dev {
    margin-left: 0;
    font-size: 207%;
  }
}

#lmdev-logo {
  text-align: center;
  margin-top: 15px;
}

.credits,
#credits {
  margin-top: 17px;
  bottom: 20px;
  opacity: 67%;
  text-align: center;
}

p {
  line-height: 0px;
  font-weight: bold;
}

h2 {
  font-size: small;
  text-align: center;
}

.center {
  text-align: center;
}

footer > #footer-details {
  color: black;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  opacity: 97%;
}

.notbold {
  font-weight: normal;
}

.pronunciation {
  font-style: italic;
}

#bizEmail {
  color: #545454;
}

#bizEmail:hover {
  color: #5ce1e6;
}
